.content-header
  .container
    %h1 Thank You!

.container
  .content-container
    %br
    %br
    %p.lead.centered
      Thank you for registering, we will notify you when you've been approved!
    %br
    %br
