#slide5.row.reset-layout
  #volunteer-signup.col-sm-8.col-sm-offset-2
    %h1.f700.centered
      Are you in?
    %p.lead.centered.f300
      We're now recruiting volunteers who are interested in helping others gain access to health care. We're looking for friendly, energetic, compassionate students to join our cause. Are you one of them?
    #volunteer-signup-form
      - resource = User.new
      = render 'devise/registrations/form', resource: resource
