.col-sm-7
  = image_tag 'img/logo-color.png', style: 'height:100px;'
  %p.lead{ style: 'margin-left: 40px;'}
    Be Jersey Strong will work with regional coordinators to identify and train campus captains and volunteers at every two- and four-year college in New Jersey. 
  %p.lead{ style: 'margin-left: 40px;'}
    Campus captains and volunteers will then speak at churches, clinics, and community centers to connect individuals to the information and resources they need to make a well-informed decision about their health insurance options. 
  %p.lead.primary-red{ style: 'margin-left: 40px;'}
    Together, we will make New Jersey strong.
.col-sm-5.centered
  = image_tag 'img/Jersey-Strong-map_just_NJ_cropped.png', class: 'img-responsive', style: 'margin: auto;'