.col-sm-6.col-sm-offset-3{ style: 'padding: 20px;' }
  = image_tag 'img/Be-Jersey-Strong-05_cropped.png', class: 'img img-responsive'
.col-sm-10.col-sm-offset-1.centered
  %h3{ style: 'margin-top:0px;' }
    New Jerseyans have always looked out for one another, and we're leading a movement of students throughout New Jersey to ensure that none of our friends, our family, or our neighbors are left without health insurance
    %span.primary-red simply because they were unsure of how to access it.