.col-sm-10.col-sm-offset-1
  %h1.centered
    At Be Jersey Strong, we plan to train and mobilize over 1,000 students to have over 100,000 conversations with New Jerseyans about their health insurance options.
