.col-sm-7
  = image_tag 'img/logo-color.png', style: 'height:100px;'
  %p.lead{ style: 'margin-left: 40px;'}
    Be Jersey Strong will work with regional coordinators to identify and train campus captains and volunteers at each two- and four-year college in New Jersey. 
  %p.lead{ style: 'margin-left: 40px;'}
    Campus captains and volunteers will then speak at churches, community centers, clinics, and local events to connect individuals to the information and resources they need to make a well-informed decision about their health insurance options. 
  %p.lead{ style: 'margin-left: 40px;'}
    Together, they will aim to mobilize over 1,000 volunteers and have over 100,000 conversations with their fellow New Jerseyans. 
.col-sm-5.centered
  = image_tag 'img/Jersey-Strong-map_just_NJ_cropped.png', class: 'img-responsive', style: 'margin: auto;'