.col-sm-6.col-sm-offset-3{ style: 'padding: 20px;' }
  = image_tag 'img/Be-Jersey-Strong-05_cropped.png', class: 'img img-responsive'
.col-sm-10.col-sm-offset-1.centered
  %h3{ style: 'margin-top:0px;' }
    Be Jersey Strong is a student-led grassroots movement to ensure that every New Jerseyan who is eligible and interested in having health insurance is able to obtain it.
