#jersey-city-container
  #donate-content-container
    .row
      .col-sm-10.col-sm-offset-1{ style: 'padding: 20px;' }
        = image_tag 'img/Be-Jersey-Strong-05_cropped.png', class: 'img img-responsive'
    .row
      .col-sm-10.col-sm-offset-1
        .centered
          %p.lead
            At Be Jersey Strong, we believe that every individual deserves to be
            well-informed about his or her health care options. We are a grassroots
            movement to train and mobilize over 1,000 college students to have over
            125,000 one-on-one conversations with the uninsured about their health
            care options. In doing so, we hope to make New Jersey a top ten state in
            per capita enrollment of the uninsured.
          %p.lead.f700
            It is an ambitious goal and your donation
            %br
            can help achieve it.
          .donate-button
            %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "_top"}
              %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}/
              %input{:name => "hosted_button_id", :type => "hidden", :value => "3YQM6VDX4ZMVG"}/
              %input{:alt => "PayPal - The safer, easier way to pay online!", :border => "0", :name => "submit", :src => "https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif", :type => "image"}/
              %img{:alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1"}/
            %br
          %p.lead
            Over the next several months, your donation will help:
          %ol.lefted{ style: 'font-size: 18px;'}
            %li{ style: 'margin-bottom: 10px'}
              Train over 1,000 students in the intricacies of the health care
              landscape, equipping them to become the next generation of health care
              leaders in New Jersey.
            %li{ style: 'margin-bottom: 10px'}
              Provide hundreds of students at two-year colleges - students who often
              know firsthand the dangers of being uninsured and for whom service
              learning is too often a luxury that they cannot afford - an
              opportunity to develop leadership skills and make a significant
              difference in their communities.
            %li{ style: 'margin-bottom: 10px'}
              Inform thousands of uninsured individuals about their health care
              options and connect them to the coverage that they need.
.row.background-blue
  .col-sm-6.col-sm-offset-3{ style: 'margin-top: 50px; margin-bottom: 50px;' }
    .centered
      %h2.f300.white
        Are you ready to make a difference?
      %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "_top"}
        %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}/
        %input{:name => "hosted_button_id", :type => "hidden", :value => "3YQM6VDX4ZMVG"}/
        %input{:alt => "PayPal - The safer, easier way to pay online!", :border => "0", :name => "submit", :src => "https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif", :type => "image"}/
        %img{:alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1"}/
