#slide1.row.reset-layout
  = render partial: 'slide1'
#slide2.row.reset-layout
  = render partial: 'slide2'
#slide3.row.reset-layout
  = render partial: 'slide3'
/ #slide4.row.reset-layout
/   = render partial: 'slide4'
-#= render partial: 'testimonials'
#slide5.row.reset-layout
  = render partial: 'slide5'
