$primary-blue: #16c1f3;
$primary-red: #ef4031;

.primary-blue { color:$primary-blue; }
.primary-red { color:$primary-red; }
.background-blue { background-color:$primary-blue; }
.background-red { background-color:$primary-red; }

.white { color: #fff; }
.black { color: #000; }
