#container-problem {
	height: 50vh;
	padding: 40px;
}

#carousel-testimonial {
	border-top: 5px solid lighten($primary-red, 20);
	border-bottom: 5px solid lighten($primary-blue, 20);
	height: 50vh;
	width: 100%;
	// background-color: white;
	.carousel-indicators  {
		background-color: transparent;
		img {
			filter: grayscale(100%);
			border: 2px solid #efefef;
			border-radius: 50%;
		}
		img:hover {
			filter: grayscale(50%);
			background-color: white;
		}
		img.active {
			filter: grayscale(0%);
			background-color: white;
		}
	}
	.carousel-inner {
		height: 100%;
		background-color:white;
		.item {
			height: 100%;
			width: 100%;
			color: rgba(0,0,0,.7);
		}
		#testimonial1 {
			background-image: asset-url('img/testimonial_1_bcg.png');
			background-repeat: no-repeat;
			background-position: right bottom;
			background-size: auto 100%;
		}
		#testimonial2 {
			background-image: asset-url('img/testimonial_2_bcg.png');
			background-repeat: no-repeat;
			background-position: left bottom;
			background-size: auto 100%;
		}
	}
}

.person img {
	width: 8%;
	position:relative;
}