#slide1, #slide5 {
	height: 100vh;
}

#slide1 {
	background-image: asset-url('img/military-family-2.jpg');
	background-size: cover;
	background-position: center center;
}

#slide2 {
	background-color: rgba(204, 243, 255, .5);
	padding: 50px 0;
	font-family: 'Averia Serif Libre', HelveticaRounded, Arial, sans-serif;
}

#slide3 {
	padding: 20px 0;
	background-color: white;
	border-top: 2px solid $primary-red;
	border-bottom: 2px solid $primary-red;	
}

#slide4 {
	padding:5%;
	background-image: asset-url('img/pw_maze_white_faded.png');
	background-repeat: repeat;
}

#slide5 {
	background-image: asset-url('cover/unsplash-assorted.jpeg');
	background-size: cover;
}

@media all and (max-width: 768px) {
	#slide1 {
		height: auto;
		background-image: asset-url('img/pw_maze_white_faded.png');
		background-repeat: repeat;
		background: white;
	}
}