.content-header
  .container
    %h1 Editing Shift
    %p
      = link_to 'Show', @appointment
      %span.white
        |
      = link_to 'Back', appointments_path
.container
  .content-container
    = render 'form'
