%footer.footer
  .container
    .col-sm-3.hidden-xs
      %ul
        %p &copy; 2015 Be Jersey Strong
        %p.address Some Building
        %p.address Some Street
        %p.address Trenton, NJ 08601
    .col-sm-2.col-xs-3
      %ul
        %p BJS
        %li Who We Are
        %li What We Do
        %li Why We Do It
    .col-sm-2.col-xs-3
      %ul
        %p.small About
        %li Health Care
        %li New Jersey
        %li Grassroots
    .col-sm-2.col-xs-6
      %ul
        %p.f300.small{style: 'margin-left:5px;'} Contact Us
    .col-md-2.col-md-offset-1.col-sm-3.col-sm-offset-0.hidden-xs
