%nav.navbar.navbar-default
	%button.navbar-toggle{"data-object" => 'navbar-collapse', style: 'display: inline-block'}
		%span.sr-only Toggle navigation
		%span.icon-bar
		%span.icon-bar
		%span.icon-bar
	.container
		.brand
			= image_tag 'img/Be-Jersey-Strong-05.png', class: 'img-responsive', width: '200px', style: 'float:left;'
		%ul.nav.navbar-nav