%nav.navbar.navbar-default
  %button.navbar-toggle{"data-object" => 'navbar-collapse', style: 'display: inline-block'}
    %span.sr-only Toggle navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  %a#navbar-brand.navbar-brand{:href => "#"} Be Jersey Strong